<div class="container-show">
      <h1 id="cocktail-show-title"><%= @cocktail.name %></h1>
  <div class="cocktail-show">
    <div class="cocktail-photo">
      <%= cl_image_tag @cocktail.photo, {:style => "height: 300px; width: 300px"} %>
    </div>
    <div class="cocktail-title-ingredients">
    <div class="cocktail-ingredients">
      <p>Ingredients</p>
      <ul>
    <% @cocktail.doses.each do |dose| %>
    <li>
      <label><%= dose.ingredient.name %> <%= dose.description %>cl</label>
      <%= link_to "тип", dose_path(dose), method: :delete %>
      </li>
      <% end %>
      <p>Add an ingredient</p>
      <%= render 'doses/form', cocktail: @cocktail, dose: @dose %>
     <btn><%= link_to "Pick another", cocktails_path %></btn> |
     <btn><%= link_to "Destroy this cocktail", cocktail_path(@cocktail), method: :delete %></btn>
    </div>
    </div>
  </div>
</div>
