<% photo = @cocktail.photo.url ? cl_image_path(@cocktail.photo, transformation: {height: 400}) : 'https://www.pexels.com/photo/close-up-photo-of-clear-drinking-glass-with-black-liquid-1282272' %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= photo %>);">
  <div class="banner-content">
    <h1> <%= @cocktail.name %> </h1>
  </div>
</div>

<div class="container-show">
  <div class="cocktail-show">
    <div class="cocktail-photo">
      <p>Description:</p>
      <%= @cocktail.description %>

    <!--   <%= cl_image_tag @cocktail.photo, {:style => "height: 300px; width: 300px"} %> -->
    </div>
    <div class="cocktail-title-ingredients">
    <div class="cocktail-ingredients">
      <p>Ingredients</p>
    <% @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.ingredient.name %> - <%= dose.description %>
      <%= link_to "тип", dose_path(dose), method: :delete %>
      </li>
      <% end %>
      <%= render 'doses/form', cocktail: @cocktail, dose: @dose %>
      <btn><%= link_to "Pick another", cocktails_path %></btn> |
     <btn><%= link_to "Delete", cocktail_path(@cocktail), method: :delete %></btn>
    </div>
    </div>
  </div>
</div>
